naming RFC3645 as RFC2136 is confusing

### Welcome

- [x] Yes, I'm using a binary release within the two latest releases.
- [x] Yes, I've searched for similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

### What did you expect to see?

I am very excited to see the release of RFC3645 support, but why is it not abstracted as a unique provider?  When I need RFC3645 (which I do) I am going to search for that, not RFC2136.  I understand you want to indicate that one is an extension of the other, but collapsing the namespace in this arbitrary way comes across as capricious. 
I mean just take a look at this horrorshow:

<img width="594" height="155" alt="Image" src="https://github.com/user-attachments/assets/2e196980-cd0e-4a24-bcea-086b8c9fc503" />

GSS values are not in scope for RFC2136, these docs read like a fever dream mate.


### What did you see instead?

 The honest way to convey this is to simply extend the existing 2136 implementation under the hood of a properly named RC3645 provider. PLEASE consider implementing this in a more honest, searchable, and usable way.

### How do you use lego?

Binary

### Reproduction steps

this bug is a design failure that causes user and implementer confusion, not a logical failure.

### Effective version of lego

```console
master @ cff2cd7
```

### Logs

n/a

### Go environment (if applicable)

n/a

"dishonest" is a normal way to describe patterns that unnecessarily convoluted and fail to self-describe, such as this one. your logic really does not come across to your downstream implementers.  how exactly do you expect us to become aware that RFC3645 is even supported?  I maintain a reasonable number of dns client forks and the truth is that they all of their own nuances as far as auth.  Why do you want to arbitrarily draw this line for this specific RFC when it will do so much damage to the downstream experience?  It is flatly the wrong architectural decision.

> [RFC2136](https://www.rfc-editor.org/rfc/rfc2136.html) is about the update of a DNS, there is nothing about authentication inside this RFC.
> 
> TSIG and TSIG-GSS are not a way to update a DNS but a way to authenticate against a DNS server.
> 
>     * [RFC3645](https://www.rfc-editor.org/rfc/rfc3645.html)
> 
>     * [RFC2845](https://www.rfc-editor.org/rfc/rfc2845)
> 
> 
> A "DNS provider" inside lego is a way to update a DNS, not a way to authenticate.

this is seriously a shockingly poor assessment of your users needs. what a waste of an opportunity to make an improvement to the ecosystem. as somebody that's after community funding I would seriously consider doing this right -- no organization is going to fund something so improper.

I renamed the provider as planned inside the v5.

The new documentation page is https://go-acme.github.io/lego/dns/dnsupdate/index.html

FYI, I created a dedicated page for lego sponsors, so you have the choice between [me](https://donate.ldez.dev/) or the [organization](https://github.com/go-acme)
