Support for provider: Active Directory

### Welcome

- [x] Yes, I've searched for similar issues on GitHub and didn't find any.
- [x] Yes, the DNS provider exposes a public API.
- [x] Yes, I know that the lego maintainers don't have an account in all DNS providers in the world.

### Implementation

- [x] Yes, I'm able to create a pull request and be able to maintain the implementation.
- [x] Yes, I can test an implementation with the help of the maintainers if someone creates a pull request.

### How do you use lego?

Binary

### Who are you?

A customer of this DNS provider

### Link to the DNS provider

https://learn.microsoft.com/en-us/windows-server/identity/ad-ds/plan/dns-and-ad-ds

### Link to the API documentation

https://learn.microsoft.com/en-us/windows/win32/dns/dns-wmi-classes

### Additional Notes

I work for a company where we are using a internally ran step-ca along with lego to generate internal certificates for services. I would like to extend lego, to accommodate for for the usage of active directory dns. This would actually really help accelerate the ability of my organization, as well as other organizations to leverage opensource tooling like lego and step-ca for certificate solutions. 

I do want to clarify, that lego and step-ca work fine for web servers, but we are looking to get a wild card certificate for one of our vendored solutions which has a server that can be called on by multiple sans (not my choice). And when we look at the roadmap for shortening the lifespan of certificates. Being able to use the built in ad dns would be ideal for almost every enterprise organization. 

I am open to attempting to submit a PR for this, but would also like to have some conversation on if the lego community sees this code fit for the project. I attempted to look for some kind of discord or irc, but didnt find any. I will admit though, i did not look hard any only searched the github.

The RFC2136 implementation inside lego support TSIG.

As [RFC3645](https://www.rfc-editor.org/rfc/rfc3645.html) is an update of [RFC2845](https://www.rfc-editor.org/rfc/rfc2845) it should works or it could works.

