PowerDNS dns-01 old api

Hello,

I would like to use lego with powerdns 4.3, but the dns challenge has failed, because lego use old powerdns api.

I see in the powerdns log, when lego try to use powerdns with api:
Aug 23 20:57:05 ns1 pdns_server[8983]: SOA-EDIT-API/DNSUPDATE type 'INCEPTION-INCREMENT' for zone xxx.com is unknown.

I'm try with this command:
```
PDNS_API_KEY=<apikey> PDNS_API_URL=<powerdns api url endpoint with port> lego -a -d <hostname of the cert> -m <email address> --path /etc/lego --pem --dns pdns renew
```

This is not a Lego issue. Your domain metadata is outdated.

`INCEPTION-INCREMENT` is not supported since PowerDNS 4.2.0. The current docs state:

- [SOA-EDIT-API](https://doc.powerdns.com/authoritative/domainmetadata.html#soa-edit-api):

  > On changes to the contents of a zone made through the API, the SOA record will be edited according to the `SOA-EDIT-API` rules. These rules are the same as the `SOA-EDIT-DNSUPDATE` rules.

- [SOA-EDIT-DNSUPDATE](https://doc.powerdns.com/authoritative/dnsupdate.html#dnsupdate-soa-serial-updates):

  > After every update, the soa serial is updated as this is required by section 3.7 of RFC 2136. The behaviour is configurable via `domainmetadata` with the `SOA-EDIT-DNSUPDATE` option. It has a number of options listed below. If no behaviour is specified, `DEFAULT` is used.

- [SOA-EDIT-DNSUPDATE settings](https://doc.powerdns.com/authoritative/dnsupdate.html#dnsupdate-soa-serial-updates):

  > These are the settings available for `SOA-EDIT-DNSUPDATE`.
  > 
  > - `DEFAULT`: Generate a soa serial of `YYYYMMDD01`. If the current serial is lower than the generated serial, use the generated serial. If the current serial is higher or equal to the generated serial, increase the current serial by 1.
  > - `INCREASE`: Increase the current serial by 1.
  > - `EPOCH`: Change the serial to the number of seconds since the EPOCH, aka unixtime.
  > - `SOA-EDIT`: Change the serial to whatever `SOA-EDIT` would provide. See Domain metadata
  > - `SOA-EDIT-INCREASE`: Change the serial to whatever `SOA-EDIT` would provide. If what `SOA-EDIT` provides is lower than the current serial, increase the current serial by 1. Exception: with `SOA-EDIT=INCEPTION-EPOCH`, the serial is bumped to at least the current `EPOCH` time.

Please double check what the current domain metadata for the domain is:

```sql
SELECT "content"
FROM "domainmetadata"
INNER JOIN "domains" ON "domains"."id" = "domainmetadata"."domain_id"
WHERE "domainmetadata"."kind" = 'SOA-EDIT-API'
  AND "domains"."name" = '<hostname of the cert>';
```

@tomcsi, any news?

@dmke you were right, i didn't see, the the test zone settings were invalid

Sorry for this issue.

No problem, glad I could help :-)