Allow subdomains to be validated from parent domain  --dns-persist.authorization-domain-name

### Welcome

- [x] Yes, I'm using a binary release or the library within the [two latest releases](https://github.com/go-acme/lego/releases).
- [x] Yes, I've searched for similar issues on GitHub and didn't find any.

### Detailed Description

I enclose patch that add support for Authorization Domain Name (ADN) for DNS-PERSIST-01 challenge validation.

New argument added:
--dns-persist.authorization-domain-name string                     Set the authorization domain name (adn) for DNS-PERSIST-01. [$LEGO_DNS_PERSIST_AUTHORIZATION_DOMAIN_NAME]

Result - /chalZ/ request contains payload with adn domain. Lets Encrypt (Pebble) looks then for one DNS record for many subdomains, instead of many subdomain records. There is no need then to create new DNS TXT RR each time you request certificate. One domain-level record is enough, and you do not need to reveal subdomain addresses in public DNS just because Lets Encrypt required it for DNS-01. With DNS-PERSIST-01 you may use below one TXT RR record for all subdomain certificate requests:

_validate-persist.domain1.example.com

instead of:

_validate-persist.serfver1.domain1.example.com
_validate-persist.serfver2.domain1.example.com
_validate-persist.serfver3.domain1.example.com
etc.

Reference: https://github.com/ietf-wg-acme/draft-ietf-acme-dns-persist/issues/33 - show how JSON request should look like in dns-persist -01 challenge URI call, when subdomain validation need to be validated from the parent domain.

Reference 2: https://letsencrypt.org/2026/02/18/dns-persist-01 - general description of planned DNS-PERSIST-01 to be enabled in Lets Encrypt. Nopw it runs only in test Pebble software.

I have tested it with Pebble and it worked, although I have  not included tests in the patch.

If approved, I may generate pull requedst, as described in CONTRIBUTING.md

[lego-dnspersist.adn-patch.diff.txt](https://github.com/user-attachments/files/30101784/lego-dnspersist.adn-patch.diff.txt)

### Effective version of lego

v5.2.2+dev-detach

### How do you use lego?

Binary

### In which context are you using lego?

Professional use

### 🌱 Supporting the Maintainers

- [x] Yes, I find this project useful, and I appreciate the work done by the maintainers.
- [ ] Yes, I have [starred](https://github.com/go-acme/lego) this repository to help others find it.
- [ ] Yes, I have [sponsored](https://donate.ldez.dev) this project to keep the project stable and maintained.

### Confirmation

- [x] Yes, I've included all the information above (version, usage, etc.).

You are referencing old drafts and comments.

The RFC has changed and lego has been updated accordingly: https://github.com/go-acme/lego/pull/2991

> *Validation Domain Name*  The domain name at which the validation TXT
>   record is provisioned.  It is formed by prepending the DNS TXT
>   Record Persistent DCV Domain Label to the FQDN being validated.
>
>   This term follows the precedent set by [RFC8555], Section 8.4,
>   which uses "validation domain name" for the analogous _acme-
>   challenge.<FQDN> label in the dns-01 challenge.  This document
>   avoids the term "Authorization Domain Name" because the CA/Browser
>   Forum Baseline Requirements [cabf-br] define it as the FQDN used
>   to obtain authorization, without any label prepended.
>
> https://www.ietf.org/archive/id/draft-ietf-acme-dns-persist-01.html#name-conventions-and-definitions


> 4. Challenge Response and Verification
> 
> To respond to the challenge, the ACME client provisions a DNS TXT
> record at the Validation Domain Name of the domain being validated.
> The Validation Domain Name is formed by prepending the label
> "_validation-persist" to the domain name being validated.
> 
> For example, if the domain being validated is "example.com", the
> Validation Domain Name would be "_validation-persist.example.com".
>
> https://www.ietf.org/archive/id/draft-ietf-acme-dns-persist-01.html#name-challenge-response-and-veri

---

In all cases, your patch will never be accepted because this is a breaking change of the lego core.



Thank you for prompt reply. I appreciate your work and understand the comment.

Still - issue remains - how to use lego, in order to validate subdomain.example.com using parent domain RR TXT record _validation- persist.example.com, as described in point 6.3 of the draft-ietf-acme-dns-persist-01.txt?

"6.3. Example: Subdomain validation 

For a persistent TXT record provisioned at _validation-persist.example.com with policy=wildcard:
- Permitted: example.com, www.example.com, app.example.com, server.dept.example.com, *.example.com, *.dept.example.com
- Not permitted without additional validation: otherexample.com, example.net"

Right now lego function getValidationDomainName() returns only _validation-persist.subdomain.example.com
while draft-ietf-acme-dns-persist-01 allow to validate subdomain.example.com with _validation-persist.example.com

From https://community.letsencrypt.org/t/will-lets-encrypt-support-tree-climbing-for-dns-persist-01-records/246235 I understand, that LE require the client to send specific adn, so LE would not be needed to tree climbing DNS.